{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<!-- <link 
		rel="stylesheet"  
		href="https://use.fontawesome.com/releases/v5.8.1/css/all/css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5D60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous"
	/> -->
	<script src="https://kit.fontawesome.com/e7d8aa6cd3.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'site_static/css/style.css' %}">
	<title>Log In</title>
</head>
<body>
	<div class="container" id="container">
		<div>
			{% if masseges %}
				{% for massege in masseges %}
					<div class="alert alert-{{ message.tags }} m-2">
						{{ message }} <p>alert!</p>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="form-container sign-up-container">
			<form action="register" method="post">
				{% csrf_token %}
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-github"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>Or use your Email for registration</span>
				<input type="text" name='username' placeholder="Name" />
				<input type="email" name='email' placeholder="Email" />
				<input type="password" name='password1' placeholder="Password" />
				<input type="password" name='password2' placeholder="Confirm Password" />					
				<button>Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="login" method="post">
				{% csrf_token %}
				<h1>Sign In</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-github"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>use your Account</span>
				<input type="text" name="username" placeholder="name" />
				<input type="email" name="email" placeholder="Mail" />
				<a href="#">Forgot your Password?</a>	
				<button>Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>
						To keep connected with us please login with your personal info <br> <br> or
					</p>
					<button class="ghost" id="signIn">Sign Up</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello Friend!</h1>
					<p>
						Enter your personal info and start your jurney with us! <br><br> Already Have an Account?
					</p>
					<button class="ghost" id="signUp">Log In</button>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'site_static/js/main.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="sweetalert2.all.min.js"></script>
	<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

	{% load sweetify %}
	{% sweetify %}
	
</body>
</html>